.flex-form {
    /* collects all content on the page and centers it */      
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.form {
    /* provides all the core styling for the form */   
    font-size: 25px;
    width: 70%;
    margin: 0px auto;
    display: inline-block;
}

.form label  {
    /* provides all the core styling for form labels */       
    display: inline-block;
    margin: 6px 0px;
    border: 5px solid black;
    background-color: #F1C4FF;
    padding: 10px;
    border-radius: 80px; 
}

.form input {
    /* provides all the core styling for form inputs */    
    width: 100%;
    height: 30px;
    font-size: 25px;
    background-color: #F9CFC8;
}

.form textarea {
    /* provides all the core styling for query/text area */
    width: 100%;
    font-size: 25px;
    background-color: #F9CFC8;
}

#form-submit {
    /* provides all the core styling for submit button */
    display: block;
    width: 100px;
    margin-top: 14px;
    font-size: 18px;
    background-color: #F1C4FF;    
}

#resume {
    /* provides all the core styling for CV download link */
    display: inline-block;
    font-size: 40px;
    margin-top: 10px;
    border: 5px solid black;
    background-color: #F1C4FF;
    padding: 10px;
    border-radius: 80px;     
}
